<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.cleandownloads.daily</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/find</string>
      <string>/Users/semenko/Downloads</string> <string>-maxdepth</string>
      <string>1</string>
      <string>-type</string>
      <string>f</string>
      <string>-mtime</string>
      <string>+6</string>
      <string>-exec</string>
      <string>/bin/mv</string>
      <string>{}</string>
      <string>/Users/semenko/.Trash</string> <string>;</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>12</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardErrorPath</key>
    <string>/tmp/semenko-dldelete.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/semenko-dldelete.out</string>
</dict>
</plist>
